/* Shared styles */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.section-title {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-des {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.Typography {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0;
}
.banner-title {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-des {
  width: 585px;
}
.banner-cont {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}
/* Main */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* about */

.about {
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px;
  padding: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  width: 185px;
  height: 60px;
  margin-right: 50px;
  text-align: center;
}

.info-title {
  color: var(--Dark-03, #757575);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  margin-bottom: 5px;
}
.info-des {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

#what-i-do {
  padding: 30px 119px;
}
/* What i do */
.skill-container {
  display: flex;
  justify-content: space-evenly;
  gap: 24px;
  margin-bottom: 130px;
}
.skill {
  width: 267px;
  /* height: 377px; */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}
.skill-title {
  color: var(--Dark-01, #181818);
  font-size: 20px;
  font-weight: 700;
}
.skill-des {
  /* width: 201px; */
  color: var(--Dark-03, #757575);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* resume */
.resume-column-title {
  color: var(--Dark-02, #474747);
  font-size: 30px;
  font-weight: 700;
}

.resume-column-col-title {
  color: var(--Dark-02, #474747);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-column-col-ins {
  color: var(--Dark-03, #757575);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10px;
}
.resume-column-col-des {
  color: var(--Dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-bottom: 30px;
}
.resume-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.download-cv {
  text-align: center;
}
/* Footer */

footer {
  display: flex;
  margin-top: 100px;
  padding: 130px 200px;
  background: #fff8f3;
  gap: 100px;
}
.footer-title {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.footer-contact-des {
  color: var(--Dark-02, #474747);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.footer-container {
  display: flex;
}
.footer-col {
  width: 50%;
}
.social-link a {
  margin-right: 25px;
}
.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 35px;
  font-size: 16px;
  color: var(--Dark-03, #757575);
  border-radius: 5px;
  background: var(--White-Color, #fff);
  border: none;
  width: 100%;
}
